/* universal cell */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* nav-bar */


.nav-bar{
    padding: 30px;
    width: 100vw;
    height: 150px;
    background-color: rgba(218, 137, 137, 0.918);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriftutuntu;
}
.nav-bar .margin{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar h1{
    font-size: 60px;
    color: #79162F;
    margin-left: -100px;
}

.nav-bar .nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-links li{
    margin-left: 36px;
    list-style: none;
}

.nav-bar .nav-links .under-home{
    border-bottom: 2px solid #FFFFFF;
    border-radius: 1px;
}
.nav-bar .nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-bar .nav-log{
    text-decoration: none;
    padding: 8px 30px;
    background-color: rgb(33, 120, 106);
    color: #FFFFFF;
    border-radius: 30px;
    margin-left: 10px;
}


@media only screen and (max-width:480px){
    .nav-bar{
        padding: 20px;
        width: 100%;
        height: 100px;
    }
    .nav-bar h1{
        font-size: 20px;
        margin-left: -30px;
    }
    .nav-bar .nav-links{
        display: none;
    }

    .nav-bar .nav-log{
        margin-right: 50px;
    }
}

/* header */
header{
    width: 100vw;
    background-color: rgba(218, 137, 137, 0.918);
}

.header-cont{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 45px;
    padding-top: 40px;
    color: #FFFFFF;
}

.header-cont h1{
    font-size: 64px;
    font-weight: 700;
    position: relative;
    top: -50px;
    line-height: 60px;
}

.header-cont p{
    font-size: 17px;
    font-weight: 500;
    position: relative;
    top: -200px;
    margin-top: 20px;
}

.header-cont .a-tag{
    font-size: 17px;
    font-weight: 500;
    position: relative;
    top: -320px;
}

.a-tag .btn{
    padding: 8px 30px;
}

.a-tag .first-btn{
    text-decoration: none;
    background-color: rgba(218, 137, 137, 0.918);
    color: #79162F;
    border: 2px solid #79162F;
}

.a-tag .sec-btn{
    text-decoration: none;
    background-color: rgb(33, 120, 106);
    color: #FFFFFF;
    padding: 10px 30px;
}

.a-tag img{
    position: absolute;
    top: -270px;
    right: 20px;
}

header .floating-div{
    border-radius: 10px;
    font-size: 24px;
    position: absolute;
    left: 400px;
    bottom: -320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #464343;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriftutuntu;
}

header .pictures{
    display: flex;
    justify-content: center;
}
header .pictures div{
    margin: 40px;
    text-align: center;
}


.floating-div .zakkat{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.zakkat .forex{
    padding: 20px 50px;
    border: 2px solid #FFFFFF;
}

.zakkat a{
    padding: 20px 50px;
    text-decoration: none;
    color: #79162F;
    background-color: #FFFFFF;
}

@media only screen and (max-width:480px){
    .header-cont{
        height: 50vh;
    }
    
    .a-tag img{
      display: none;
    }

    .header-cont{
        margin-left: 15px;
        padding-top: 10px;
    }

    .header-cont h1{
        font-size: 34px;
        font-weight: 700;
        line-height: 35px;
        top: 5px;
    }
    
    .header-cont p{
        font-size: 10px;
        font-weight: 500;
        top: -70px;
    }

    .header-cont .a-tag{
        font-size: 10px;
        top: -100px;
    }
}

/* section */
section{
    width: 100vw;
    height: 100vh;
    background-color: #EAD3C1;
}