/* universal cell */

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriftutuntu;
}

/* nav-bar */


.nav-bar{
    padding: 30px;
    width: 100vw;
    height: 150px;
    background-color: rgba(218, 137, 137, 0.918);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriftutuntu;
}
.nav-bar .margin{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar h1{
    font-size: 60px;
    color: #79162F;
    margin-left: -100px;
}

.nav-bar .nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-links li{
    margin-left: 36px;
    list-style: none;
}

.nav-bar .nav-links .under-home{
    border-bottom: 2px solid #FFFFFF;
    border-radius: 1px;
}
.nav-bar .nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
}

.nav-bar .nav-log{
    text-decoration: none;
    padding: 8px 30px;
    background-color: rgb(33, 120, 106);
    color: #FFFFFF;
    border-radius: 30px;
    margin-left: 10px;
}


@media only screen and (max-width:480px){
    .nav-bar{
        padding: 20px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-bar h1{
        font-size: 20px;
        position: relative;
        left: -80px;
    }
    .nav-bar .nav-links{
        display: none;
    }

    .nav-bar .nav-log{
        position: absolute;
        right: 10px;
    }
}

/* header */
header{
    width: 100vw;
    background-color: rgba(218, 137, 137, 0.918);
}

.header-cont{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 45px;
    padding-top: 40px;
    color: #FFFFFF;
}

.header-cont h1{
    font-size: 64px;
    font-weight: 700;
    position: relative;
    top: -50px;
    line-height: 60px;
}

.header-cont p{
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: -200px;
    margin-top: 20px;
}

.header-cont .a-tag{
    font-size: 17px;
    font-weight: 500;
    position: relative;
    top: -320px;
}

.a-tag .btn{
    padding: 8px 30px;
}

.a-tag .first-btn{
    text-decoration: none;
    background-color: rgba(218, 137, 137, 0.918);
    color: #79162F;
    border: 2px solid #79162F;
}

.a-tag .sec-btn{
    text-decoration: none;
    background-color: rgb(33, 120, 106);
    color: #FFFFFF;
    padding: 10px 30px;
}

.a-tag img{
    position: absolute;
    top: -270px;
    right: 20px;
}

header .floating-div{
    border-radius: 10px;
    font-size: 24px;
    position: absolute;
    left: 400px;
    bottom: -320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #464343;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-seriftutuntu;
}

header .pictures{
    display: flex;
    justify-content: center;
}
header .pictures div{
    margin: 40px;
    text-align: center;
}


.floating-div .zakkat{
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px;
}

.zakkat .forex{
    padding: 20px 50px;
    border: 2px solid #FFFFFF;
}

.zakkat a{
    padding: 20px 50px;
    text-decoration: none;
    color: #79162F;
    background-color: #FFFFFF;
}

@media only screen and (max-width:480px){
    .header-cont{
        height: 40vh;
    }
    
    .a-tag img{
      display: none;
    }

    .header-cont{
        margin-left: 15px;
        padding-top: 10px;
    }

    .header-cont h1{
        font-size: 34px;
        font-weight: 700;
        line-height: 35px;
        top: 5px;
    }
    
    .header-cont p{
        font-size: 14px;
        font-weight: 500;
        top: -70px;
    }

    .header-cont .a-tag{
        font-size: 10px;
        top: -100px;
    }

    header .floating-div{
        display: none;
    }

}

/* first section */
.sec-first{
    width: 100vw;
    height: 100vh;
    background-color: #EAD3C1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-first .goals{
    text-align: center;
}

.sec-first .goals h2{
    font-size: 26px;
    color: #BD8186;
}

.sec-first .goals h1{
    font-size: 35px;
}

.sec-first .goals p{
    font-size: 26px;
    font-weight: 500;
}
@media only screen and (max-width:480px){
    .sec-first{
    width: 100vw;
    height: 40vh;
    }
}
/* second section  */
.sec-two{
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 137, 137, 0.918);
}

.sec-two .content-sec{
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 25px 0 45px 0; */
    background-color: #FFFFFF;
}

.sec-two .content-sec .afford{
    padding: 15px 0;
    margin: 15px 0;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}

/* third section  */
.third-sec{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.third-sec .content-bank{
    margin-top: 30px;
    height: 75vh;
    margin-left: 20px;
}
.third-sec .content-bank h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #BD8186;
}
.third-sec .content-bank h1{
    font-size: 52px;
    font-weight: 700;
}
.third-sec .content-bank p{
    font-size: 24px;
    font-weight: 500;
}

.third-sec .content-bank a{
    text-decoration: none;
    background-color: #C4C4C4;
    color: #79162F;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 25px 8px 25px;
    position: relative;
    top: 20px;
}

.third-sec .content-bank img{
    width: 390px;
    height: 220px;
    margin-top: 60px;
    border: 2px solid #79162F;
}



/* fourth section  */
.fourth-sec{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.fourth-sec .content-pesa{
    margin-top: 30px;
    height: 75vh;
    margin-left: 20px;
}
.fourth-sec .content-pesa h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #BD8186;
}
.fourth-sec .content-pesa h1{
    font-size: 52px;
    font-weight: 700;
}
.fourth-sec .content-pesa p{
    font-size: 24px;
    font-weight: 500;
}

.fourth-sec .content-pesa a{
    text-decoration: none;
    background-color: #C4C4C4;
    color: #79162F;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 25px 8px 25px;
    position: relative;
    top: 20px;
}

.fourth-sec .content-pesa img{
    width: 390px;
    margin-top: 60px;
    border: 2px solid #79162F;
}

/* fif section  */
.five-sec{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.five-sec .content-mobile{
    margin-top: 30px;
    height: 75vh;
    margin-left: 20px;
}
.five-sec .content-mobile h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #BD8186;
}
.five-sec .content-mobile h1{
    font-size: 52px;
    font-weight: 700;
}
.five-sec .content-mobile p{
    font-size: 24px;
    font-weight: 500;
}

.five-sec .content-mobile a{
    text-decoration: none;
    background-color: #C4C4C4;
    color: #79162F;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 25px 8px 25px;
    position: relative;
    top: 20px;
}

.five-sec .content-mobile img{
    width: 390px;
    margin-top: 60px;
    border: 2px solid #79162F;
}